<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project 2: Electric Boogaloo</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Cosmo Bootstrap Theme -->
    {{!-- <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css"> --}}

    <meta charset="utf-8">
    <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link href="../../assets/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/loader.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">



    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  </head>

  <body>
    {{#if user.email}}
      <h1>Logged in as {{user.email}}.</h1>
    {{else}}
      <h1>Please <a href="/signin">login</a>.</h1>
    {{/if}}
    {{{ body }}}
  </body>

</html>
