<div class="container main">
  <!-- Introduction Row -->
  <h1 class="my-4 text-center">Fast Food Facts made possible by
    <small>Team "Drop Table Jack"</small>
  </h1>
  <p>Team Members below created this web application to search, create, save, and share Nutrition Facts.</p>

  <!-- Team Members Row -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="my-4 text-center">Our Team</h2>
    </div>
    <div class="col-lg-3 col-sm-6 text-center mb-3">
      <img class="rounded-circle img-fluid d-block mx-auto" src="../../assets/images/zazil.jpeg" alt="Zazil Toma">
      <h3>Zazil Toma<br>
        <small>Full Stack Developer</small>
      </h3>
      <p class="shadow">Responsible for the MyList feature and Home page.</p>
    </div>
    <div class="col-lg-3 col-sm-6 text-center mb-3">
      <img class="rounded-circle img-fluid d-block mx-auto" src="../../assets/images/jack.jpeg" alt="Jack Tamas">
      <h3>Jack Tamas<br>
        <small>Full Stack Developer</small>
      </h3>
      <p class="shadow">Responsible for the Search feature.</p>
    </div>
    <div class="col-lg-3 col-sm-6 text-center mb-3">
      <img class="rounded-circle img-fluid d-block mx-auto" src="../../assets/images/matt.jpeg" alt="Matthew Groff">
      <h3>Matthew Groff<br>
        <small>Full Stack Developer</small>
      </h3>
      <p class="shadow">Responsible for Create feature.</p>
    </div>
    <div class="col-lg-3 col-sm-6 text-center mb-3">
      <img class="rounded-circle img-fluid d-block mx-auto" src="../../assets/images/carlos.jpeg" alt="Carlos Palacios">
      <h3>Carlos Palacios<br>
        <small>Full Stack Developer</small>
      </h3>
      <p class="shadow">Responsible for User Authentication and site templating.</p>
    </div>
  </div>
</div>
