{{#if user.email}}


<div class="container main">
  <div id="foodRows" class="row">
    {{#each myList}}
      <p>Food: {{nutrition_name}}</p>
      <br>
    {{/each}}
  </div>
</div>


{{else}}
<h1>Please <a href="/signin">login</a>.</h1>
{{/if}}