<script type="text/javascript" src="../../assets/js/usdaApi.js"></script>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input id="searchInput" type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button id="searchBtn" class="btn btn-default" type="button">Go!</button>
        </span>
      </div>
    </div>
  </div>
  <div class="a-105"><i class="fa fa-circle a-COLOR"></i> Loading...</div>

  <div class="row" id="cardsContainer">

  </div>
</div>
