<script type="text/javascript" src="../../assets/js/usdaApi.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

<div class="container">
  <div class="row searchBar">
    <div class="col-lg-12">
      <h3 class="searchInfo">Search the USDA to get its nutrition facts!</h3>
      <h3 class="searchInfo">You can enter a UPC code or the name of the food</h3>
      <form role="form" class="input-group form-group" data-toggle="validator" name="searchForm" id="searchForm">
          <input id="searchInput" type="text" class="form-control" placeholder="Search for..." pattern="[a-zA-Z0-9]+" name="searchInput" required="required" data-error="Please enter a valid search query. No special characters please.">
          <span class="input-group-btn">
            <submit id="searchBtn" class="btn btn-default" type="submit" disabled="disabled">Go!</submit>
          </span>
      </form><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="help-block with-errors errorAlert">Error! Sorry we couldn't find any nutrition matches. Please try another word.</div>
  </div><!-- /.row -->
</div>

<div class="alert-warning alert-dismissible fade show alert text-center" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error!</strong> Sorry we couldn't find any nutrition matches. Please try another word.
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="cooking">
      <h1 class="loading">Loading ..</h1>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div id="area">
        <div id="sides">
          <div id="pan"></div>
          <div id="handle"></div>
        </div>
        <div id="pancake">
          <div id="pastry"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" id="cardsContainer">

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      </div>
    </div>
  </div>
</div>
