<h3>Sign In</h3>
<form id="signin" name="signin" method="post" action="/signin">
    <label for="email">Email Address</label>
    <input class="text" id="email" name="email" type="email" />
    <br>
    <label for="password">Password</label>
    <input name="password" id="password" type="password" />
    <br>
    <input type="submit" formaction="/signin" value="Sign In"></input>
    <input type="submit" formaction="/signup" value="Sign Up"></input>
</form>


