.removeBtn {
  margin-left: 20px;
}

.mylistTitle {
  font-size: 1.3rem
}

.image {
  width: 200px;
  float: left;
  margin: 20px;
}

body {
  font-size: small;
  line-height: 1.4;
  overflow: scroll;

}
p {
  margin: 0;
}

.red {
  color: red;
}

.float_right {
  float: right;
  margin-right: 80px;
}

.performance-facts {
  border: 1px solid black;
  margin: 10px;
  width: 320px;
  padding: 0.2rem;
  table {
    border-collapse: collapse;
  }
}
.performance-facts__title {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 0.25rem 0;
}
.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}
.performance-facts__table {
  width: 100%;
  thead tr {
    th, td {
      border: 0;
    }
  }
  th, td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 0.5rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 0.5rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th, td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}
th,td {
  font-size: 0.6rem;
}

.card {
  width: 100%;
  height: 150px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.mylistcard {
  width: 33.33%;
  height: 100px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

div.alert {
  display: none;
}
.searchContainer {
  position: relative;
  height: 30%;
}
.searchBar {
  position: absolute;
  top: 40%;
  width: 100%;
}
.modal-body, .modal-content {
  width: 800px;
  height: 670px;
}
.twitter-share-button {
  background-color: rgb(74,180,245);
}
.facebook-share-button {
  background-color: #4468B0;
}
.btn-primary {
  border: none;
}

/*animation timers*/
.delay-02s {
	animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
.delay-03s {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
.delay-04s {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
.delay-05s {
	animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
.delay-06s {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.delay-07s {
	animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}
.delay-08s {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}
.delay-010s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}
.delay-011s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}
.delay-012s {
	animation-delay: 1.3s;
	-webkit-animation-delay: 1.3s;
}
.delay-013s {
	animation-delay: 1.4s;
	-webkit-animation-delay: 1.4s;
}
.delay-014s {
	animation-delay: 1.5s;
	-webkit-animation-delay: 1.5s;
}
.delay-015s {
	animation-delay: 1.6s;
	-webkit-animation-delay: 1.6s;
}
.delay-016s {
	animation-delay: 1.7s;
	-webkit-animation-delay: 1.7s;
}
.delay-017s {
	animation-delay: 1.8s;
	-webkit-animation-delay: 1.8s;
}
.delay-018s {
	animation-delay: 1.9s;
	-webkit-animation-delay: 1.9s;
}
.delay-019s {
	animation-delay: 1.9s;
	-webkit-animation-delay: 1.9s;
}
.delay-020s {
	animation-delay: 2s;
	-webkit-animation-delay: 2s;
}

@media screen and (min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
    height: auto;
    margin: 30px auto;
  }
}
