.removeBtn {
  margin-left: 20px;
}

.mylistTitle {
  font-size: 1.3rem
}

.image {
  width: 200px;
  float: left;
  margin: 20px;
}

body {
  font-size: small;
  line-height: 1.4;
  overflow: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/background.jpeg');
  background-position: top;
  background-size: cover;
}

p {
  margin: 0;
}

* a:hover {
  color: rgba(233, 105, 103, 0.8);
  text-shadow: 1px 1px 0px #000000;
}

#mainNav {
  border-color: transparent;
  background-color: transparent;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.jumbotron {
  border-color: transparent;
  background-color: transparent;
  color: white;
}

.navbar-brand,
.nav-link,
h3,
h1,
h2,
label,
li,
help-block {
  color: white;
  text-shadow: 2px 2px 1px black;
}

.help-block {
  color: white;
}

.navbar-brand {
  font-family: 'Luckiest Guy';
  font-size: 1.4em;
  font-weight: normal;
}

.shadow {
  text-shadow: 2px 2px 1px black;
}

.btn-trans {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}

#searchBtn.btn,
#searchInput {
  background-color: rgba(0, 0, 0, 0.5);
  color: #dddddd;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 40px;
}

#searchBtn.btn {
  border-left: none;
}

.searchBar {
  position: relative;
  height: 300px;
}

.input-group {
  top: 120px;
}

.red {
  color: red;
}

.float_right {
  float: right;
  margin-right: 80px;
}

.performance-facts {
  border: 1px solid black;
  margin: 0px;
  width: 100%;
  padding: 0.2rem;
  table {
    border-collapse: collapse;
  }
}

.performance-facts__title {
  font-weight: bold;
  font-size: 1rem;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 10px solid black;
  padding: 0 0 0.25rem 0;
  margin: 0 0 0.5rem 0;
  p {
    margin: 0;
  }
}

.performance-facts__table {
  width: 100%;
  thead tr {
    th,
    td {
      border: 0;
    }
  }
  th,
  td {
    font-weight: normal;
    text-align: left;
    padding: 0.25rem 0;
    border-top: 1px solid black;
    white-space: nowrap;
  }
  td {
    &:last-child {
      text-align: right;
    }
  }
  .blank-cell {
    width: 0.5rem;
    border-top: 0;
  }
  .thick-row {
    th,
    td {
      border-top-width: 5px;
    }
  }
}

.small-info {
  font-size: 0.5rem;
}

.performance-facts__table--small {
  @extend .performance-facts__table;
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
  thead {
    tr {
      border-bottom: 1px solid black;
    }
  }
  td {
    &:last-child {
      text-align: left;
    }
  }
  th,
  td {
    border: 0;
    padding: 0;
  }
}

.performance-facts__table--grid {
  @extend .performance-facts__table;
  margin: 0 0 0.5rem 0;
  td {
    &:last-child {
      text-align: left;
      &::before {
        content: "•";
        font-weight: bold;
        margin: 0 0.25rem 0 0;
      }
    }
  }
}

.thick-end {
  border-bottom: 10px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}

th,
td {
  font-size: 0.6rem;
}

.card {
  width: 100%;
  height: 150px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

.mylistcard {
  width: 33.33%;
  height: 100px;
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 10px;
}

div.alert {
  display: none;
}
.modal-body, .modal-content {
  max-width: 100%;
  height: auto;
  margin: 5px;
}
#piechart {
  position: relative;
  left: -100px;
}
.modal-dialog {
  max-width: 100%;
  margin: 30px auto;
}

.twitter-share-button {
  background-color: rgb(74, 180, 245);
}

.facebook-share-button {
  background-color: #4468B0;
}

.btn-primary {
  border: none;
}


/*animation timers*/

.delay-02s {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}

.delay-03s {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
}

.delay-04s {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}

.delay-05s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.delay-06s {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}

.delay-07s {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
}

.delay-08s {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}

.delay-09s {
  animation-delay: 0.9s;
  -webkit-animation-delay: 0.9s;
}

.delay-010s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.delay-011s {
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

.delay-012s {
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
}

.delay-013s {
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
}

.delay-014s {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.delay-015s {
  animation-delay: 1.6s;
  -webkit-animation-delay: 1.6s;
}

.delay-016s {
  animation-delay: 1.7s;
  -webkit-animation-delay: 1.7s;
}

.delay-017s {
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
}

.delay-018s {
  animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
}

.delay-019s {
  animation-delay: 1.9s;
  -webkit-animation-delay: 1.9s;
}

.delay-020s {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.form-control {
  max-width: 100%;
}
@media (min-width: 425px) {
  #piechart {
    position: relative;
    left: -30px;
  }
}
@media (min-width: 768px) {
  .modal-body, .modal-content {
    max-width: 650px;
  }
  .performance-facts {
    margin: 10px 10px;
  }
  .modal-dialog {
    max-width: 650px;
    margin: 30px auto;
  }
}
@media (min-width: 960px) {
  .modal-body, .modal-content {
    max-width: 800px;
  }
  .performance-facts {
    margin: 10px;
  }
  .modal-dialog {
    max-width: 800px;
    margin: 10px auto;
  }
}
@media (max-width: 768px) {
  .modal-body, .modal-content {
    max-width: 800px;
  }
  .performance-facts {
    margin: 5px;
  }
  .modal-dialog {
    width: 420px;
    margin: 10px auto;
  }
}
